<div class="row">
<div class="span14 columns offset1">

<h2>Забыли пароль?</h2><br />

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>

  <%= f.email_field :email %></p>

  <div class="actions">
    <%= f.submit "Отправьте мне инструкции по востановлению пароля",
                  :class => "btn primary" %>
  </div>
<% end %>

<h6>Другие действия:</h6>
<div class="another actions">
  <%= render :partial => "devise/shared/links" %>
</div>

</div>
</div>
