<div class="row">
<div class="span14 columns offset1">

<h2>Добавление нового хабраюзера</h2>
<p>Укажите хабраюзера, которого вы хотите привязать к своему аккаунту.</p>
<br />

<%= render 'form' %>

<%= link_to 'Назад', current_user %>

</div>
</div>
