<div class="modal-header">
  <h3><%= @habrauser.name %></h3>
</div>
<div class="modal-body">
  <p>Поддомен на хабре: <%= @habrauser.slug %></p>
</div>
<div class="modal-footer">
  <%= link_to "Удалить", @habrauser, class: 'btn danger', method: :delete,
    confirm: "Вы уверены в том, что хотите удалить хабраюзера '#{@habrauser.name}'?" %>
  <%= link_to "Личный кабинет на Хабре", @habrauser.habraurl, class: 'btn primary', 
    target: '_blank' %>
</div>
