<div class="row">
  <div class="slider-wrapper span9 columns">
    <!-- insert an image slider -->
    <!-- <img src="public/images/slider-001.png" alt="Понравился пост?" /> -->
  </div>
  <div class="signup-wrapper span7 columns">
      <p>Все еще сохраняете любимые посты на жесткий диск (ну или на ssd :)?</p>
      <p>Выделяете понравившейся пост и сохраняете в Evernote?<p>
      <p>Материтесь, узнав, что в посте за 2009 год отвалились картинки?</p>
      <p>Тогда жмите на кнопку у все ваши проблемы решаться.)</p>
      <a href="#" class="btn large primary">Хочу!</a>
  </div>
</div>

<div class="row">
  <h1>Добро пожаловать, #{ @username }!</h1>
  <p>
    Habrafavs – это способ сохранить ваши избранные посты и комментарии с хабрахабра.
    Как часто бывало так, что вы что-нибудь добавляли в избранное, а автор потом
    помещал топик в черновики? Чтобы всегда иметь доступ к своему избранному и быть
    уверенным в созранности его содержания воспользуйтесь habrafavs!
  </p>
  <h4>Возможности</h3>
  <ul>
    <li>Сохранение вашего избранного в облаке</li>
    <li>Автоматическая синхронизация с вашим избранным</li>
    <li>Сохраниние поста и избранных комментариев к нему</li>
    <li>Расширение для Chrome</li>
    <li>Интеграция с Evernote</li>
  </ul>
  <h4>Ценовая политика</h4>
  <table id="prices" class="common-table zebra-striped">
    <tr>
      <th>#</th>
      <th>Название</th>
      <th>Особенности</th>
      <th>Цена</th>
    </tr>
    <tr>
      <td>1</td>
      <td>Free</td>
      <td>150 штук бесплатно.</td>
      <td>0 Р./мес</td>
    </tr>
    <tr>
      <td>2</td>
      <td>Pro</td>
      <td>500 штук.</td>
      <td>50 Р./мес</td>
    </tr>
    <tr>
      <td>3</td>
      <td>Unlimited</td>
      <td>Хоть сколько.</td>
      <td>100 Р./мес</td>
    </tr>
  </table>
</div>
