@import "global";

$footer_p_color: rgba(255,255,255,.8);
$footer_p_shadow: rgba(0,0,0,0.3);

footer {
  margin-top: -$footer_height;
  padding: 45px 0;
  @include box-shadow($shadow_light 0 10px 30px inset);
  background-color: #049cd9;
  background-repeat: no-repeat;
  @include background(image-url("grid-18px.png"), 
                      linear-gradient(#004d9f, #049cd9));
                      
  p {
    color: $footer_p_color;
    text-shadow: 0 1px 1px $footer_p_shadow;
    margin-bottom: 0;
    
    a, a:hover {
      color: #fff;
      font-weight: bold;
    }
    
    &.right { float: right; }
  }
}