@import "global";

html, body { height: 100%; }
.container { min-height: 100%; }
#footer-placeholder { height: $footer_height;}
#topbar-placeholder { height: $topbar_height;}

.topbar form { margin-right: 8px; }

.messages {
  position: fixed;
  right: 20px;
}

.another.actions {
  margin-top: 0;
}

div.input span {
  padding-left: 10px;
}

input[type=submit] {
  cursor: pointer;
}
